<div class="sgle-dialog">
   <div class="sgle-dialog-header sgle-dialog__header">
      <span class="sgle-dialog-header__close">X</span>
   </div>
   <div class="sgle-dialog__body">
      <div class="sgle-dialog__file">
         <div class="sgle-input">
            <span class="sgle-input__label">File</span>
            <input class="sgle-input__input" disabled>
         </div>
      </div>
      <div class="sgle-dialog__key">
         <div class="sgle-input">
            <span class="sgle-input__label">Key</span>
            <input class="sgle-input__input" disabled>
         </div>
      </div>
      <div class="sgle-dialog__lang-from">
         <div class="sgle-textarea">
            <span class="sgle-textarea__label">English</span>
            <textarea class="sgle-textarea__input sgle-textarea__input_disable" disabled ></textarea>
         </div>
      </div>
      <div class="sgle-dialog__lang-to">
         <div class="sgle-textarea">
            <span class="sgle-textarea__label">Ukraine</span>
            <textarea class="sgle-textarea__input" spellcheck="false"></textarea>
         </div>
      </div>
      <div class="sgle-dialog__buttons">
         <div class="sgle-button sgle-dialog__save">Save</div>
         <div class="sgle-button sgle-dialog__cancel">Cancel</div>
      </div>
   </div>
</div>