<table class="sgle-table">
   <thead class="sgle-table__header">
      <tr class="sgle-table__header-row">
         <th>Page</th>
         <th>Key</th>
         <th>English</th>
         <th>Ukraine</th>
      </tr>
   </thead>
   <tbody>
      <tr class="sgle-table__row">
         <td>Main language file</td>
         <td>Code</td>
         <td>Some text in English</td>
         <td>Some text in Ukraine</td>
      </tr>
      <tr class="sgle-table__row sgle-table__row_dark">
         <td>Main language file</td>
         <td>Code</td>
         <td>Some text in English</td>
         <td>Some text in Ukraine</td>
      </tr>
      <tr class="sgle-table__row">
         <td>Main language file</td>
         <td>Code</td>
         <td>Some text in English</td>
         <td>Some text in Ukraine</td>
      </tr>
      <tr class="sgle-table__row sgle-table__row_dark">
         <td>Main language file</td>
         <td>Code</td>
         <td>Some text in English</td>
         <td>Some text in Ukraine</td>
      </tr>
   </tbody>
</table>